@media (max-width: 1000px) {
    #nav {
        display: none;
    }
    #strip {
        display: none;
    }
    #fixedBar {
        display: none;
    }
    nav {
        margin: 0 0 0 0;
        width: 100vw;
        float: none;
        text-align: end;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        z-index: 500;
    }
    footer {
        height: 100vh;
    }
    #mobile-nav {
        display: contents;
        position: fixed;            
        overflow-x: hidden ;
    }
    
    /*  ======================
        HEADER
    ======================= */
    header {
        background-position: center;
    }
    #logo {
        display: block;
        position: relative;
        margin: 0;
        top: 10vh;
        margin-right: auto;
        margin-left: auto;
    }
    #textHeader {
        position: relative;
        font-size: 2.5em;
        line-height: 50px;
        margin: 30vh 0 0 0;
    }
    #wow {
        font-size: 1.8em;
        font-weight: 900;
    }
    #btnOrder {
        height: 40px;
        line-height: 40px !important;
    }

    /*  ======================
        POSTCARD SECTION
    ======================= */
    #postcard {
        height: 100vh;
    }
    #imgPostcard1 {
        display: none;
    }
    #containerPostcard {
        display: none;
    }
    #mobile-text {
        display: block;
        color: #6C0D1A;
    }
    #mobile-text>#txt {
        padding: 15vh 10vw 10vh 10vw;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        text-align: center;
    }
    #mobile-text>hr {
        height: 3px;
        opacity: 1;
        width: 60vw;
        color: #6C0D1A;
        margin: 0 auto 0 auto;
        border-radius: 15px;
    }
    #menu-btn {
        padding: 5vh 10vw 0 10vw;
        text-align: center;
    }
    #menu-btn:hover {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        transition: all .5s ease;
    }

    /*  ======================
        IG FEED SECTION
    ======================= */
    #gridInsta {
        margin: 30vh 0;
    }
    #rowInsta {
        grid-template-columns: auto auto;
        grid-row-gap: 3vh;
        grid-column-gap: 10vw;
        margin-left: auto;
        margin-right: auto;
    }
    #instaCol {
        width: 36vw;
    }

    /*  ======================
        STORE SECTION
    ======================= */
    #stores {
        width: 100vw;
        margin: 25vh 0 0 0;
        padding: 0 0 0 11vw;
    }
    #frame {
        width: 290px;
    }
    #textStores {
        width: 280px;
        margin: -160px 0 0 0;
        padding: 10px 0 0 5px;
    }
    .carousel-control-next {
        right: -45px !important;
        bottom: 50px !important;
    }
    .carousel-control-prev {
        left: -46px !important;
        bottom: 50px !important;
    }

    /*  ======================
        FOOTER
    ======================= */
    #row1Footer {
        grid-column: auto;
        grid-template-columns: 100%;
        grid-template-areas:    "socialNetworks"
                                "contact"
                                "schedule";
        margin: 18vh auto 8vh auto;            
    }
    #socialNetworks {
        text-align: left;
        padding: 0 0 0 5vw;
        margin-bottom: 15vh;
    }
    #schedule {
        vertical-align: middle;
        padding: 15vh 0 0 0;
        line-height: 15px;
        grid-area: schedule;
        font-size: 20px;
        text-align: center;
    }
    #copyright {
        line-height: 30px;
    }
}