body, p, h1, h2, h3, h4, ul {
    margin: 0;
    padding: 0;
}
header {
    background-image: url("img/photos/Food.jpg");
    background-size: cover;
    height: 120vh;
}
nav {
    text-align: end;
    width: 60%;
    float: right;
    margin: 12vh 10vw 0 0;
}
a {
    text-decoration: none;
    color: #F9E5D2;
    transition: all 1s ease;
}
a:hover {
    color: #6C0D1A;
    transition: all 1s ease;
}
li {
    display: inline;
    margin-right: 50px;
    font-size: 14px;
}

#strip {
    background-color: #6C0D1A;
    background-size: auto;
    color: #F9E5D2;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    height: 8vh;
}
#strip > p {
    padding: 2.5vh;    
}
#verticalLine {
    border-left: thin solid #F9E5D2;
    margin-left: 1vw;
    margin-right: 1vw;
}

#nav, ul{
    text-decoration: none;
    list-style-type: none;
}
#logo {
    margin: 10vh 0 0 10vw;
}
#textHeader {
    color: #F9E5D2;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 49px;
    margin: 35vh;
    line-height: 90px;
}
#wow{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 110px;
}
#btnOrder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: #BB6851;
    height: 40px;
    width: 170px;
}

#postcard {
    background-color: #F9E5D2;
    height: 110vh;
}
#imgPostcard {
    padding: 22px 17px;
    background-color: #fff;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 12vw;
    position: relative;
    animation-name: imgPostcard;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
@keyframes imgPostcard {
    from {margin-top: 20vh}
    to {margin-top: 10vh}
}
#textPostcard {
    width: 35vw;
    position: absolute;
    margin: -70vh 0 0 30vw;
    z-index: 20;
    animation-name: textPostcard;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
@keyframes textPostcard {
    from {margin: -70vh 0 0 34vw;}
    to {margin: -70vh 0 0 30vw;}
}
#structure {
    background-color: #F9E5D2;
    border: 1px solid #000;
    color: #6C0D1A;
    padding-bottom: 40px;
    
}
#row1Postcard {
    display: flex;
    margin: 10px auto 15px auto;
}
#row2Postcard {
    display: flex;
}
#col1Postcard {
    width: 40%;
    padding-left: 35px;
    font-size: 13px;
}
#verticalLine2 {
    border-left: thin solid #6C0D1A;
    margin-left: 1vw;
    margin-right: 1vw;
}
#col2Postcard {
    align-self: center;
    padding-left: 1vw;
    font-size: 42px;
    color: #6C0D1A !important;
}

#parallax {
    display: flex;
    background-image: url("../img/photos/Scenery.jpg");
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
}
#stores {
    width: 65%;
    margin: 28vh auto 0 auto;
    padding: 0 0 0 25vw;
}
#frame {
    width: 65%;
}
#textStores {
    margin: -38vh 25vw 0 0;
    text-align: center;
    color: #6C0D1A;
    line-height: 35px;
    font-size: 13 px;
}
#textStores>h3 {
    font-size: 42px;
}

#containerFooter {
    background-color: #F9E5D2;
    color: #6C0D1A;
    height: 40vh;
}
#contact, #copyright {
    text-align: center;
    vertical-align: middle;
}
#row1Footer {
    padding: 8vh 0 12vh 0;
}
#schedule {
    vertical-align: middle;
    width: 20%;
    padding-left: 8vw;
    font-size: 13px;   
}
#contact {
    position: absolute;
    margin: -10vh 0 0 35vw;
    font-size: 36px;
}
#contact>h3 {
    font-size: 40x;
}
